@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

/* variables */
:root {
  --primary-color: blue;
  --secondary-color: red;
  --active: lightblue;
  --general-padding: 1.2em;
}

/* general styling for the body/app */

body * {
  /* border: 0.5px solid red; */
  /* box-sizing: border-box; */
}

body > * {
  border-radius: 0.625rem;
}


.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 1rem;
  font-family: 'Space Grotesk', sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  background-color: black;
}

/* sidebar */
.sidebar {
  border: 0.063rem solid black;
  width: 30%;
  height: 93vh;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  background-color: white;
}

.practice-session-list {
  height: 75vh;
  overflow-y: scroll;
  scrollbar-color: blue;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar-session-title {
  cursor: pointer;
}

.session-sidebar {
  padding: 1%;
  margin-top: 2%;
}

.session-sidebar:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.session-sidebar.active {
  background-color: var(--active);
}

/* sessions */

.session {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.session-edit, .session-preview{
  border: 0.063rem solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  background-color: white;
}

#body{
  width: 60%;
  max-width: 60%;
}

.title-input{
  width: 60%;
}

.link{
  text-decoration: underline;
  color: blue;
}

.session-not-active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: xx-large;
  opacity: 30%;
}

/* buttons! */
button,
.btn {
  margin-left: 2%;
  margin-right: 2%;
  width: max-content;
  padding: 0.313rem;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: var(--primary-color);
  border-radius: 0.44rem;
  background: aliceblue;
  border: aliceblue;
}

button:hover,
.btn:hover {
  color: var(--secondary-color);
}

.btn-grp {
  display: flex;
  justify-content: space-evenly;
}

/* stopwatch */

.stop-watch {
  border-radius: 0.75rem;
  width: 30%;
  margin: 2%;
}

.timer {
  display: flex;
  justify-content: center;
}

/* sessions */
.app-main-note-edit {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.app-main-note-edit * {
  width: 60%;
  margin: 2%;
}

/* audio recorder */
.audio-recorder {
  border-radius: 0.75rem;
  width: 30%;
  margin: 2%;
  text-align: center;
}

.record {
  color: red;
}

/* tools */
.tools {
  display: flex;
  flex-direction: row;
  align-items: center;
}

audio {
  width: 15rem;
  height: 5rem;
}

/* audio::-webkit-media-controls-panel{
  transform: scaleX(0.7rem) scaleY(1rem);
} */

@media screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
